.calendar-container {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /* Для плавной прокрутки на iOS */
  }

  .day {
    border: 1px solid #ccc;
    width: 100px;
    padding: 10px;
    text-align: center;
  }

  .day.weekend b {
    color: crimson
  }

  .calendar-item {
    display: flex;
    width: fit-content;
  }


  main.calendar-item .day {
    height: 300px;
    position: relative;
  }

