body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.calendar-container {
  display: flex;
}

.days-container {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  /* Для плавной прокрутки на iOS */
}

.day, .times {
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
}

.day {
  width: 100px;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
}

.day.weekend b {
  color: crimson
}

.calendar-item {
  display: flex;
  width: fit-content;
}


main.calendar-item .day, .times {
  height: calc(var(--windowHeight) - 43px);
  position: relative;
  box-sizing: border-box;
}